<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Edit Message</title>
</head>
    <body>
        <main>
            <article class="about active" data-page="about">
                <header>
                    <h2 class="h2 article-title">Edit Message</h2>
                </header>
                <div class="main-content">
                    <form action="/update/<%= message._id %>" method="POST">
                        <div class="input-wrapper">
                            <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input value="<%= message.fullname %>">
                            <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input value="<%= message.email %>">
                        </div>
                        <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input><%= message.message %></textarea>

                        <!-- Dropdown for selecting message status -->
                        <div class="input-wrapper">
                            <select class="select-dropdown form-input" name="status" id="status" required>
                                <% statuses.forEach(status => { %>
                                    <option value="<%= status %>" <%= message.status === status ? 'selected' : '' %>><%= status %></option>
                                <% }); %>
                            </select>
                        </div>

                        <button class="form-btn" type="submit">Update Message</button>
                    </form>
                </div>
            </article>
        </main>
    </body>
</html>